.popup {
    margin: 0;
    visibility: hidden;
    display: flex;
    transition: opacity .3s linear;
    opacity: 0;
    max-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
}