.element__delete {
    padding: 0;
    margin: 0;
    height: 19px;
    width: 18px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 21px;
    right: 20px;
    background-image: url(../../../images/delete-button.svg);
    background-size: 100%;
    background-position: center;
    cursor: pointer;
    background-repeat: no-repeat;
    display: block;
    opacity: 1;
}

.element__delete:hover {
    opacity: .5;
}