.profile__card{
    display: flex;
}
@media screen and (max-width: 767px) {
    .profile__card {
        display: grid;
        grid-template-areas:
          'avatar avatar'
          'info edit-button';
        gap: 10px
    }
}   