.profile__button-add {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 34px;
}

@media screen and (max-width: 767px) {
    .profile__button-add {
        width: 88%;
        background-size: 16px 16px;
        margin: 36px 0 36px 0;
    }
}

.profile__button-add:hover {
    opacity: 0.7;
}